<div class="container-fluid">
  <section class="row">
    <h3 class="col col-sm-4 col-sm-offset-3">New Apartment Unit:</h3>
  </section>

  <section class="row">
    <form action="" class="col col-sm-4 col-sm-offset-4">
      <div class="row">
        <p class="col col-sm-4">Number of Bedrooms:</p>
        <input type="number" class="col col-sm-8" data-ng-model="property.numberOfRooms">
      </div>
      <div class="row">
        <p class="col col-sm-4">Number of Bathrooms:</p>
        <input type="number" class="col col-sm-8" data-ng-model="property.numberOfBaths">
      </div>
      <div class="row">
        <p class="col col-sm-4">Street:</p>
        <input type="text" class="col col-sm-8" data-ng-model="address.street1">
      </div>
      <div class="row">
        <p class="col col-sm-4">Apt. Number:</p>
        <input type="number" class="col col-sm-8" data-ng-model="address.apartmentNum">
      </div>
      <div class="row">
        <p class="col col-sm-4">City:</p>
        <input type="text" class="col col-sm-8" data-ng-model="address.city">
      </div>
      <div class="row">
        <p class="col col-sm-4">State:</p>
        <input type="text" class="col col-sm-8" data-ng-model="address.state">
      </div>
      <div class="row">
        <p class="col col-sm-4">ZipCode:</p>
        <input type="text" class="col col-sm-8" data-ng-model="address.zipCode">
      </div>
    </form>
  </section>

  <section class="row">
    <div class="col col-sm-4 col-sm-offset-3">
      <a col col-sm-4 col-sm-offset-3 class="btn btn-warning" data-ng-click="addProperty()">Create</a>
    </div>
  </section>
</div>