<div class="container-fluid">
  <section class="row">
    <div class="col-sm-2">
      <p data-ng-if="complexes[0]" id="query" class="row">
        Search:
      </p>
      <input data-ng-show="complexes[0]" class="row" ng-model="query">

      <p data-ng-if="complexes[0]" id="aptDetailPadding" class="row">
        Sort By:
      </p>
      <select data-ng-show="complexes[0]" class="row" ng-model="orderProp">
        <option value="complexName">Alphabetical</option>
        <option value="-complexName">Reverse Alphabetical</option>
      </select>

    </div>

    <div class="col-sm-10">

      <div class="col-sm-4 col-sm-offset-3" id="loading" data-ng-if="!complexes[0]">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>

      <!-- <div class="row">
        <a class="btn btn-warning col-md-2 col-md-offset-10" data-ng-href="createcomplex" data-ng-if="complexes[0]">Add New Complex</a>
      </div> -->

      <div class="row">
        <a id="createButtonPadding" class="btn btn-warning col-md-2 col-md-offset-8" ng-click="showComplexDialog($event)" data-ng-if="complexes[0]">Add New Complex</a>
        <a id="createButtonPadding" class="btn btn-success col-md-1" ng-href="/" data-ng-if="complexes[0]">Back</a>
      </div>

      <ul id="complexList" data-ng-repeat="complex in complexes | filter:query | orderBy:orderProp">
        <li id="complexItem" class="row">
          <img id="complexThumbnail" src="{{complex.url}}" class="col-sm-3">
          <section class="col-sm-5">
            <p id="complexName">{{complex.complexName}}</p>
            <p>{{complex.description}}</p>
            <a class="btn btn-info btn-sm" data-ng-href="complexdetail/{{complex.complexName}}/{{complex.guid}}">Details</a>
          </section>
          <div class="col-sm-3 col-sm-offset-1">
            <p id="complexAddress">Address: {{complex.address.street1}}</p>
            <p>{{complex.address.city}} {{complex.address.state}}, {{complex.address.zipCode}}</p>
          </div>
        </li>
      </ul>

    </div>
  </section>
</div>

<div style="visibility:hidden">
  <div class="md-dialog-container" id="addComplexDialog">
    <md-dialog>
      <form ng-cloak>
        <md-toolbar class="md-primary md-hue-2">
          <div class="md-toolbar-tools">
            <h2>Insert Complex Information</h2>
          </div>
        </md-toolbar>

        <md-dialog-content>
          <div class="md-dialog-content">
            <div class="container-fluid">

              <section class="row">
                <div class="row">
                  <p class="col-sm-5">Complex Name:</p>
                  <input type="text" class="col-sm-7" data-ng-model="complex.complexName">
                </div>
                <div class="row">
                  <p class="col-sm-5">Complex Description:</p>
                  <input type="text" class="col-sm-7" data-ng-model="complex.description">
                </div>
                <div class="row">
                  <p class="col-sm-5">Image URL:</p>
                  <input type="text" class="col-sm-7" data-ng-model="complex.url">
                </div>
                <div class="row">
                  <p class="col-sm-5">Street:</p>
                  <input type="text" class="col-sm-7" data-ng-model="address.street1">
                </div>
                <div class="row">
                  <p class="col-sm-5">City:</p>
                  <input type="text" class="col-sm-7" data-ng-model="address.city">
                </div>
                <div class="row">
                  <p class="col-sm-5">State:</p>
                  <input type="text" class="col-sm-7" data-ng-model="address.state">
                </div>
                <div class="row">
                  <p class="col-sm-5">ZipCode:</p>
                  <input type="text" class="col-sm-7" data-ng-model="address.zipCode">
                </div>
              </section>
            </div>
          </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
          <md-button data-ng-click="cancelOption()">
            Cancel
          </md-button>
          <span flex="10"></span>
          <md-button data-ng-click="addComplex()">
            Create
          </md-button>
          <span flex="25"></span>
        </md-dialog-actions>
      </form>
    </md-dialog>
  </div>
</div>