/* @import url('color.css'); */

#request_table {
      background-color: whitesmoke;
      border: 1px solid black;
      width: 45%;
}
#complete_table {
      background-color: whitesmoke;
      border: 1px solid black;
      width: 45%;
}
th {
      padding: 10px;
      text-align: center;
}
td {
      padding: 5px;
      text-align: left;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#footer {
    margin-top: 50px;
}

.padding-50 {
    padding: 20px;
    margin-top: 60px;
} 

#auth {
    text-align: center;
    margin-top: 250px;
    /* border-top: 1px solid black;
    border-bottom: 1px solid black; */
}

#loginPic {
    margin-top: 100px;
    padding-left: 150px;
}

#authButton {
    margin: 10px;
}

#headNav {
    margin-bottom: 2em;
}

#complexItem {
    border: 1px solid black;
    padding: 10px;
    font-weight: bold;
}

#complexList {
    list-style-type: none;
}