<div class="container-fluid">
  <section class="row">
    <div class="col-sm-10 col-sm-offset-2">

      <div class="row">
        <h4 class="col-sm-5" id="complexName" data-ng-show="!waiting">Apartments for {{complexName}}</h4>
        <a id="createButtonPadding" class="btn btn-warning col-sm-2 col-sm-offset-3" data-ng-click="showPropDialog($event)" data-ng-if="!waiting">Add Apartment Unit</a>
        <a id="createButtonPadding" class="btn btn-success col-md-1" ng-href="complex" data-ng-if="!waiting">Back</a>
      </div>

      <div class="col-sm-4 col-sm-offset-3" id="loading" data-ng-if="waiting">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
      </div>

      <ul id="complexList" data-ng-repeat="apartment in apartments">
        <li id="complexItem" class="row">
          <div class="col-sm-5">
            <p id="aptDetailPadding">{{apartment.address.street1}}</p>
            <p>{{apartment.address.city}} {{apartment.address.state}}, {{apartment.address.zipCode}}</p>
            <p>Apt#: {{apartment.address.apartmentNum}}</p>
          </div>
          <div class="col-sm-6">
            <pre id="aptRequestPadding">Pending Supply Requests: {{apartment.numberOfRooms}}      Pending Maintenance Requests: {{apartment.numberOfBaths}}</pre>
          </div>
        </li>
      </ul>

    </div>
  </section>
</div>


<div style="visibility:hidden">
  <div class="md-dialog-container" id="addPropDialog">
    <md-dialog>
      <form ng-cloak>
        <md-toolbar class="md-primary md-hue-2">
          <div class="md-toolbar-tools">
            <h2>Insert Apartment Information</h2>
          </div>
        </md-toolbar>

        <md-dialog-content>
          <div class="md-dialog-content">
            <div class="container-fluid">

              <section class="row">
                <form action="" class="col-sm-4 col-sm-offset-4">
                  <div class="row">
                    <p class="col-sm-4">Street:</p>
                    <input type="text" class="col-sm-8" data-ng-model="address.street1">
                  </div>
                  <div class="row">
                    <p class="col col-sm-4">Apt. Number:</p>
                    <input type="number" class="col col-sm-8" data-ng-model="address.apartmentNum">
                  </div>
                  <div class="row">
                    <p class="col col-sm-4">City:</p>
                    <input type="text" class="col col-sm-8" data-ng-model="address.city">
                  </div>
                  <div class="row">
                    <p class="col col-sm-4">State:</p>
                    <input type="text" class="col col-sm-8" data-ng-model="address.state">
                  </div>
                  <div class="row">
                    <p class="col col-sm-4">ZipCode:</p>
                    <input type="text" class="col col-sm-8" data-ng-model="address.zipCode">
                  </div>
                  <div class="row">
                    <p class="col col-sm-4">Number of Bedrooms:</p>
                    <input type="number" class="col col-sm-8" data-ng-model="property.numberOfRooms">
                  </div>
                  <div class="row">
                    <p class="col col-sm-4">Number of Bathrooms:</p>
                    <input type="number" class="col col-sm-8" data-ng-model="property.numberOfBaths">
                  </div>
                </form>
              </section>
            </div>
          </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
          <md-button data-ng-click="cancelOption()">
            Cancel
          </md-button>
          <span flex="10"></span>
          <md-button data-ng-click="addProperty()">
            Create
          </md-button>
          <span flex="25"></span>
        </md-dialog-actions>
      </form>
    </md-dialog>
  </div>
</div>