<section class="footer padding-50">
  <div class="container">
    <div class="row no-margin border-bottom-line padding-bottom-35">
    </div>
    <div class="row no-margin">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <nav class="under-footer">
          <ul>
            <li><a href="/eeo-policy/">Equal Employment</a></li>
            <li><a href="/privacy-policy/">Privacy Policy</a></li>
            <li><a href="/terms-and-conditions/">Terms &amp; Service</a></li>
            <li><a href="/revaturepro/#faq">FAQ</a></li>
          </ul>
        </nav>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 padding-top-20"><span class="copyright"><i class="fa fa-copyright" aria-hidden="true"></i> 2017  All rights reserved.</span></div>
    </div>
  </div>
</section>